# resources
resources/*
!resources/spelling
!resources/preprocess.sh
!resources/README.md
!resources/word_vectors
resources/word_vectors/*
!resources/word_vectors/format_wv.py

# data
data/*
!data/preprocess data.ipynb
!data/train_BERT.py

# pycache + pycharm + notebook checkpoints
**/__pycache__
.idea/*
*.ipynb_checkpoints

# images
*.png
*.PNG

# playground notebook
nlp_playground.ipynb
